* { margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body { font-family:verdana,Tahoma,sans-serif;
       font-size:16px;
       
       color: #222222;
       line-height: 1.5em;
       text-align: justify;

       
}

header {
	background-color:#c83737;
	padding:1em;
}



nav   {
	float: right;
	margin: 1em;
}

a {

}
nav a {

	text-decoration: none;
	color: #000000;
	color: #222222;
	margin:1em;
	padding:.5;
	font-size:1.25;
	text-decoration: none;
}

h1 {
  
  color: #648880;
  font-size: 2em;
  line-height: 44px;
  padding: 1em 0 1em 1em;
  text-align: left;
}

p {
	margin-bottom: 1em;
}
section {
	max-width:1200px;
	margin:auto;
}
section div {
	width:50%;
	float:left;
	padding:2em;
}
section div img {
	width:100%;
}
section#splash, section#pastries {
	max-width:100%;
}
section#splash {
	background-color:#c83737;
	height:95vh;
	position:relative;
}
section#splash img:first-child {
	position: absolute;
	left: 0;
	width: 50%;
}
section#splash img:nth-child(2) {
	position: relative;
	top: 47%;
	transform: translateY(-50%);
	left: 50%;
	transform: translate(-50%,-50%)
}
section#splash img:last-child {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
}
.logo { 
	/*color: #ff0456;*/
	color:#ffffff;
	font-family: "Lobster", cursive;
	font-size:2.5em;
	float: left;
}
.cta {
	border:.2em #222 solid;
	color:#222;
	display:block;
	margin:2em 0 0 0;
	padding:1em 2em;
	text-decoration:none;
	text-align:center;
	width:15em;
	margin-bottom: 1em;
}
section#about {
	padding:4em;
}
#pastries>img {		/* Child selector. what you're saying is that any img that is a direct child of section id="pastries" gets the styling in the bracket */	width:100%;
}
#pastries div {		/* Descendent selector. any div's that are decendants (children or grandchildren) of the #pastries section get this styling */
	height:270px;
	overflow:hidden;
	padding:0;
	width:100%;
}
#pastries div img {	/* multi leveled descendent selector that operates the same as above */
    float: left;
    width: 33.33%;
    display: block;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}


#learn {
	margin-top:2em;
}


}

#breadcrumbs {
	display: block;
	float: right;
	width: 50%;
}


#est {
	margin-left: 2em;
}

