* { margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body { font-family:verdana,Tahoma,sans-serif;
       font-size:16px;
       color: #222222;


}
header {

}
nav   {
	float:right;

}
nav a {
	color: #222222;
	text-decoration: none;

}
section {

}
section#splash {
	background-image:url("images/cafepeople.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	height:95vh;
}
.logo { 
	color: #ff0456;
	font-family: "Lobster", cursive;
	float: left;
}
#pastries img {
    float: left;
    padding: 1em;
    width: 50%;
    display: block;
}   